body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

h1 {
  text-align: center;
  color: #333;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 800px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #757f8a;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #a7a7a7;
}
