.map {
    width: 100%;
    height: 400px;
}
#level {
    display: inline-block;
    width: 150px;
    vertical-align: text-bottom;
}

a.location {
    cursor: pointer;
}

#map {
    background: #8bd4ff;
}