<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/accueil.css" rel="stylesheet">
    <title>Accueil - Géomatique</title>
</head>
<body>
    <div class="container">
        <h1>Géomatique</h1>
        <div class="buttons">
            <button onclick="window.location.href='/carte'">Carte</button>
            <button onclick="window.location.href='/earthquakes'">Earthquakes</button>
            <button onclick="window.location.href='/hydro'">Hydro</button>
            <button onclick="window.location.href='/ligne_droite'">Ligne Droite</button>
            <button onclick="window.location.href='/relief'">Relief</button>
            <button onclick="window.location.href='/restaurant'">Restaurant</button>
            <button onclick="window.location.href='/restaurant_maplibre'">Restaurant MapLibre</button>
            <button onclick="window.location.href='/sealevel'">Sea Level</button>
        </div>
    </div>
</body>
</html>