<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP - Relief 3D</title>
    <!-- MapLibre GL JS -->
    <script src="https://unpkg.com/maplibre-gl@^5.13.0/dist/maplibre-gl.js"></script>
    <link
      href="https://unpkg.com/maplibre-gl@^5.13.0/dist/maplibre-gl.css"
      rel="stylesheet"
    />
    <!-- CSS personnalisé -->
    <link rel="stylesheet" href="../static/relief.css" />
  </head>
  <body>
    <div id="map"></div>
    <script src="../static/relief.js"></script>
  </body>
</html>
